<h1>New account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :account_group_id %><br />
    <%= select_tag 'account[account_group_id]', grouped_options_for_select(grouped_account_group_options_array, @account.account_group_id) %>
  </p>
  <% f.fields_for :account_balances do |ab| %>
    <p>
      <%= ab.label :opening_balance %><br />
      <%= ab.text_field :opening_balance %> for <%= current_day.for_date %>
    </p>  
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', accounts_path %>
